.center {
  text-align: center;
}
.company-name {
  margin-top: 150px;
}
.company-name h2 {
  text-transform: uppercase;
  font-family: "Times New Roman", Georgia, Serif;  
  font-weight: normal;
}
span.amp {
  color: #679146;
}
.footer {
  font-size: 0.9em;
}
a {
  color: #679146;
}

a:hover {
  color: #8EAB74;
}