---
layout: default
title:  "Equipo"
id:     team
---

<div id="page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <article class="page">
          <header>
            <h2 class="page-title">Equipo</h2>
            <h3 class="subtitle">Conozca a nuestros Abogados</h3>
          </header>
          <div class="content">
            <div class="panel-group" id="accordion">
              {% for member in site.data.team %}
                <div class="panel">
                  <div class="wrp-outside">
                    <figure>
                      <img src="/img/team/{{ member.id }}.jpg" alt="{{ member.name }}"/>
                      {% if member.linkedin %}
                        <figcaption><a href="http://www.linkedin.com/in/{{ member.linkedin }}">linkedin</a></figcaption>
                      {% endif %}
                    </figure>
                    <div class="outside">
                      <h3>{{ member.name }}</h3>
                      <h4>{{ member.title }}</h4>
                      <p>{{ member.background_summary }}</p>
                    </div>
                  </div>
                  <div id="collapse-{{ member.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                      {{ member.background }}
                    </div>
                  </div>
                  <button type="button" data-parent="#accordion" data-toggle="collapse" data-target="#collapse-{{ member.id }}" class="collapsed">
                    <span class="span-in">Ver más</span>
                    <span class="span-coll">Cerrar</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
